:root {
    --primary-color: #B8DBD9;
    --secondary-color: #F2F2F8;
    --accent1-color: #006745;
    --accent2-color: #000000;
    --heading-font: "Calistoga", serif;
    --body-font: "Albert Sans", sans-serif;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

h1,h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

h1 {
    font-weight: 400;
}

#course-title {
    display: block;
    text-align: center;
    font-size: 3.4rem;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding: 1rem 0;
}

nav a{
    text-decoration: none;
}

nav a {
    text-align: center;
    color: var(--accent2-color);
    font-size: 1.8rem;
    transition: all 0.3s ease;
}

nav a:hover {
    color: var(--accent1-color);
    text-decoration: overline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}