@media (min-width: 740px) {
    nav ul {
        display: flex;
        gap: 0.5rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: 1200px;
        margin: 0 auto;
        font-size: clamp(1rem, 1.5vw, 3rem);
    }

    #menu {
        display: none;
    }
}