@media (min-width: 740px) {
    nav ul {
        display: flex;
        gap: 0.5rem;
    }

    main{
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    #menu{
        display: none;
    }
}